# ==========================
# Python
# ==========================

.venv/
__pycache__/
*.pyc
python


# ==========================
# Modelos IA
# ==========================

models/


# ==========================
# Voz / Audio
# ==========================

piper/
backend/voice/audio/
*.wav


# ==========================
# Dados temporários
# ==========================

backup/
*.tmp
*.log


# ==========================
# IDE
# ==========================

.vscode/


# ==========================
# Arquivos Windows
# ==========================

*.lnk


# ==========================
# Compactados
# ==========================

*.zip